openapi: 3.1.0
info:
  title: Google Maps Places API (New)
  description: >-
    The Places API (New) lets you search for place information using HTTP
    requests. It provides endpoints for text search, nearby search, place
    details, autocomplete, and place photos. The API returns comprehensive
    place data including names, addresses, types, ratings, reviews, opening
    hours, and photos. This is the next-generation Places API built on
    Google's latest infrastructure.
  version: "1.0"
  termsOfService: https://cloud.google.com/maps-platform/terms
  contact:
    name: Google Maps Platform Team
    url: https://developers.google.com/maps/support
  license:
    name: Google Maps Platform Terms of Service
    url: https://cloud.google.com/maps-platform/terms
  x-logo:
    url: https://developers.google.com/maps/images/maps-icon.svg

externalDocs:
  description: Google Maps Places API (New) Documentation
  url: https://developers.google.com/maps/documentation/places/web-service/op-overview

servers:
  - url: https://places.googleapis.com/v1
    description: Google Maps Places API (New) production server

security:
  - apiKey: []

tags:
  - name: Place Details
    description: Get detailed information about a specific place
  - name: Text Search
    description: Search for places using a text query
  - name: Nearby Search
    description: Search for places near a specific location
  - name: Autocomplete
    description: Get place predictions based on text input
  - name: Photos
    description: Access photos associated with places

paths:
  /places/{placeId}:
    get:
      operationId: getPlaceDetails
      summary: Get details about a place
      description: >-
        Returns detailed information about a place identified by its resource
        name. Use the fieldMask parameter to specify which fields to return.
        Only fields specified in the field mask are returned; requesting
        fewer fields reduces cost and improves performance.
      tags:
        - Place Details
      parameters:
        - name: placeId
          in: path
          required: true
          description: >-
            The resource name of a place in the format places/{placeId}.
          schema:
            type: string
          example: "ChIJN1t_tDeuEmsRUsoyG83frY4"
        - $ref: "#/components/parameters/fieldMask"
        - $ref: "#/components/parameters/languageCode"
        - $ref: "#/components/parameters/regionCode"
        - $ref: "#/components/parameters/sessionToken"
      responses:
        "200":
          description: Place details response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Place"
        "400":
          description: Bad request
        "403":
          description: Forbidden
        "404":
          description: Place not found
        "429":
          description: Too many requests

  /places:searchText:
    post:
      operationId: searchPlacesText
      summary: Search for places using a text query
      description: >-
        Returns a list of places matching a text query. You can use natural
        language queries such as "pizza in New York" or "shoe stores near
        Burlington". The service responds with a list of places matching
        the text string and any location bias or restriction that has been
        set. The service is especially useful for making ambiguous address
        queries in an automated system.
      tags:
        - Text Search
      parameters:
        - $ref: "#/components/parameters/fieldMask"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchTextRequest"
      responses:
        "200":
          description: Text search response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchPlacesResponse"
        "400":
          description: Bad request
        "403":
          description: Forbidden
        "429":
          description: Too many requests

  /places:searchNearby:
    post:
      operationId: searchPlacesNearby
      summary: Search for places near a location
      description: >-
        Returns a list of places near a specified location. You can refine
        results by specifying included types, excluded types, primary types,
        and ranking preferences. A location restriction (circle) is required.
      tags:
        - Nearby Search
      parameters:
        - $ref: "#/components/parameters/fieldMask"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchNearbyRequest"
      responses:
        "200":
          description: Nearby search response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchPlacesResponse"
        "400":
          description: Bad request
        "403":
          description: Forbidden
        "429":
          description: Too many requests

  /places:autocomplete:
    post:
      operationId: autocompletePlaces
      summary: Get place autocomplete predictions
      description: >-
        Returns predictions for the given input text. Predictions include
        place predictions and query predictions. Use session tokens to
        group autocomplete requests for billing purposes.
      tags:
        - Autocomplete
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AutocompleteRequest"
      responses:
        "200":
          description: Autocomplete response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AutocompleteResponse"
        "400":
          description: Bad request
        "403":
          description: Forbidden
        "429":
          description: Too many requests

  /places/{placeId}/photos/{photoReference}/media:
    get:
      operationId: getPlacePhoto
      summary: Get a place photo
      description: >-
        Returns a photo for a place. After you get the photo resource name
        from a Place Details or Search response, use this endpoint to get
        the photo bytes. Specify maxHeightPx or maxWidthPx (or both) to
        control the image dimensions.
      tags:
        - Photos
      parameters:
        - name: placeId
          in: path
          required: true
          description: The place ID
          schema:
            type: string
        - name: photoReference
          in: path
          required: true
          description: The photo resource reference
          schema:
            type: string
        - name: maxHeightPx
          in: query
          description: >-
            Maximum height of the image in pixels. Must be between 1 and
            4800. If maxHeightPx is set without maxWidthPx, the image is
            resized to the specified height, preserving aspect ratio.
          schema:
            type: integer
            minimum: 1
            maximum: 4800
        - name: maxWidthPx
          in: query
          description: >-
            Maximum width of the image in pixels. Must be between 1 and
            4800. If maxWidthPx is set without maxHeightPx, the image is
            resized to the specified width, preserving aspect ratio.
          schema:
            type: integer
            minimum: 1
            maximum: 4800
        - name: skipHttpRedirect
          in: query
          description: >-
            If set to true, skip the default HTTP redirect behavior and
            return a JSON response containing the photo URI.
          schema:
            type: boolean
            default: false
      responses:
        "200":
          description: Photo media
          content:
            image/*:
              schema:
                type: string
                format: binary
            application/json:
              schema:
                $ref: "#/components/schemas/PhotoMedia"
        "400":
          description: Bad request
        "403":
          description: Forbidden
        "404":
          description: Photo not found

components:
  securitySchemes:
    apiKey:
      type: apiKey
      name: X-Goog-Api-Key
      in: header
      description: Google Maps Platform API key

  parameters:
    fieldMask:
      name: X-Goog-FieldMask
      in: header
      required: true
      description: >-
        A comma-separated list of place data fields to return. Use field
        masking to specify which fields to include in the response.
        For example: places.displayName,places.formattedAddress. Use *
        to return all fields (not recommended in production).
      schema:
        type: string
      example: "places.displayName,places.formattedAddress,places.location"

    languageCode:
      name: languageCode
      in: query
      description: >-
        The language code (BCP-47) to use for returning results. If not
        specified, results may be in mixed languages.
      schema:
        type: string
      example: "en"

    regionCode:
      name: regionCode
      in: query
      description: >-
        The Unicode country/region code (CLDR) of the location where the
        request is coming from. Used for formatting and biasing.
      schema:
        type: string
      example: "US"

    sessionToken:
      name: sessionToken
      in: query
      description: >-
        A random string that groups an autocomplete session for billing.
        The session begins with an autocomplete request and concludes with
        a place details or address validation call.
      schema:
        type: string

  schemas:
    Place:
      type: object
      description: A complete place representation from the Places API (New)
      properties:
        name:
          type: string
          description: >-
            The resource name of this place in the format
            places/{placeId}.
          example: "places/ChIJN1t_tDeuEmsRUsoyG83frY4"
        id:
          type: string
          description: The unique place ID
          example: "ChIJN1t_tDeuEmsRUsoyG83frY4"
        displayName:
          $ref: "#/components/schemas/LocalizedText"
        types:
          type: array
          description: >-
            A set of type tags for this place. Full list at
            https://developers.google.com/maps/documentation/places/web-service/place-types
          items:
            type: string
          example:
            - restaurant
            - food
            - point_of_interest
            - establishment
        primaryType:
          type: string
          description: The primary type of this place
          example: "restaurant"
        primaryTypeDisplayName:
          $ref: "#/components/schemas/LocalizedText"
        nationalPhoneNumber:
          type: string
          description: The place's phone number in national format
          example: "(02) 9374 4000"
        internationalPhoneNumber:
          type: string
          description: The place's phone number in international format
          example: "+61 2 9374 4000"
        formattedAddress:
          type: string
          description: The full human-readable address for this place
          example: "48 Pirrama Rd, Pyrmont NSW 2009, Australia"
        shortFormattedAddress:
          type: string
          description: A short human-readable address for this place
          example: "48 Pirrama Rd, Pyrmont"
        addressComponents:
          type: array
          description: The individual address components of the place
          items:
            $ref: "#/components/schemas/PlaceAddressComponent"
        location:
          $ref: "#/components/schemas/LatLng"
        viewport:
          $ref: "#/components/schemas/Viewport"
        rating:
          type: number
          format: double
          description: The place's rating on a scale of 1.0 to 5.0
          minimum: 1.0
          maximum: 5.0
          example: 4.2
        userRatingCount:
          type: integer
          description: The total number of user ratings
          example: 1234
        googleMapsUri:
          type: string
          format: uri
          description: A URL to the place's page on Google Maps
        websiteUri:
          type: string
          format: uri
          description: The place's website URL
        regularOpeningHours:
          $ref: "#/components/schemas/OpeningHours"
        currentOpeningHours:
          $ref: "#/components/schemas/OpeningHours"
        priceLevel:
          type: string
          description: The price level of the place
          enum:
            - PRICE_LEVEL_UNSPECIFIED
            - PRICE_LEVEL_FREE
            - PRICE_LEVEL_INEXPENSIVE
            - PRICE_LEVEL_MODERATE
            - PRICE_LEVEL_EXPENSIVE
            - PRICE_LEVEL_VERY_EXPENSIVE
        businessStatus:
          type: string
          description: The business status of the place
          enum:
            - BUSINESS_STATUS_UNSPECIFIED
            - OPERATIONAL
            - CLOSED_TEMPORARILY
            - CLOSED_PERMANENTLY
        utcOffsetMinutes:
          type: integer
          description: >-
            Number of minutes this place's current timezone is offset
            from UTC
        reviews:
          type: array
          description: Up to 5 reviews for this place
          items:
            $ref: "#/components/schemas/Review"
        photos:
          type: array
          description: Photos associated with this place
          items:
            $ref: "#/components/schemas/Photo"
        editorialSummary:
          $ref: "#/components/schemas/LocalizedText"
        adrFormatAddress:
          type: string
          description: The place's address in adr microformat
        iconMaskBaseUri:
          type: string
          format: uri
          description: A URL for an SVG icon mask
        iconBackgroundColor:
          type: string
          description: Background color for the icon in hex format
          example: "#FF9E67"
        plusCode:
          $ref: "#/components/schemas/PlusCode"
        accessibilityOptions:
          $ref: "#/components/schemas/AccessibilityOptions"
        parkingOptions:
          $ref: "#/components/schemas/ParkingOptions"
        paymentOptions:
          $ref: "#/components/schemas/PaymentOptions"
        dineIn:
          type: boolean
          description: Whether the place supports dine-in
        takeout:
          type: boolean
          description: Whether the place supports takeout
        delivery:
          type: boolean
          description: Whether the place supports delivery
        curbsidePickup:
          type: boolean
          description: Whether the place supports curbside pickup
        reservable:
          type: boolean
          description: Whether the place supports reservations
        servesBreakfast:
          type: boolean
        servesLunch:
          type: boolean
        servesDinner:
          type: boolean
        servesBeer:
          type: boolean
        servesWine:
          type: boolean
        servesVegetarianFood:
          type: boolean

    SearchTextRequest:
      type: object
      description: Request body for text search
      properties:
        textQuery:
          type: string
          description: The text query for the search
          example: "pizza in New York"
        includedType:
          type: string
          description: Restrict results to a specific place type
          example: "restaurant"
        languageCode:
          type: string
          description: The language code for results
          example: "en"
        regionCode:
          type: string
          description: The region code for biasing results
          example: "US"
        rankPreference:
          type: string
          description: How results should be ranked
          enum:
            - RELEVANCE
            - DISTANCE
        maxResultCount:
          type: integer
          description: >-
            Maximum number of results to return (1-20)
          minimum: 1
          maximum: 20
        locationBias:
          $ref: "#/components/schemas/LocationBias"
        locationRestriction:
          $ref: "#/components/schemas/LocationRestriction"
        priceLevels:
          type: array
          description: Filter results by price level
          items:
            type: string
            enum:
              - PRICE_LEVEL_INEXPENSIVE
              - PRICE_LEVEL_MODERATE
              - PRICE_LEVEL_EXPENSIVE
              - PRICE_LEVEL_VERY_EXPENSIVE
        openNow:
          type: boolean
          description: Return only places that are currently open
        minRating:
          type: number
          format: double
          description: Filter results to those with at least this rating
          minimum: 0.0
          maximum: 5.0
        strictTypeFiltering:
          type: boolean
          description: >-
            If true, only return results that match the includedType exactly
      required:
        - textQuery

    SearchNearbyRequest:
      type: object
      description: Request body for nearby search
      properties:
        includedTypes:
          type: array
          description: Place types to include in results
          items:
            type: string
          example:
            - restaurant
        excludedTypes:
          type: array
          description: Place types to exclude from results
          items:
            type: string
        includedPrimaryTypes:
          type: array
          description: Primary place types to include
          items:
            type: string
        excludedPrimaryTypes:
          type: array
          description: Primary place types to exclude
          items:
            type: string
        languageCode:
          type: string
          description: The language code for results
        regionCode:
          type: string
          description: The region code for biasing results
        rankPreference:
          type: string
          description: How results should be ranked
          enum:
            - POPULARITY
            - DISTANCE
        maxResultCount:
          type: integer
          description: Maximum number of results (1-20)
          minimum: 1
          maximum: 20
        locationRestriction:
          $ref: "#/components/schemas/LocationRestriction"
      required:
        - locationRestriction

    AutocompleteRequest:
      type: object
      description: Request body for place autocomplete predictions
      properties:
        input:
          type: string
          description: The text input specifying which place to search for
          example: "pizza near"
        locationBias:
          $ref: "#/components/schemas/LocationBias"
        locationRestriction:
          $ref: "#/components/schemas/LocationRestriction"
        includedPrimaryTypes:
          type: array
          description: Restrict results to primary types
          items:
            type: string
        includedRegionCodes:
          type: array
          description: Restrict results to these region codes
          items:
            type: string
        languageCode:
          type: string
          description: The language code for predictions
        regionCode:
          type: string
          description: Region code for biasing
        origin:
          $ref: "#/components/schemas/LatLng"
        inputOffset:
          type: integer
          description: >-
            Zero-based Unicode character offset of input indicating the
            cursor position. Use to return more relevant predictions.
        includeQueryPredictions:
          type: boolean
          description: Whether to include query predictions in results
        sessionToken:
          type: string
          description: >-
            A random string that groups this request with subsequent
            Place Details requests for billing.
      required:
        - input

    AutocompleteResponse:
      type: object
      description: Response from the autocomplete endpoint
      properties:
        suggestions:
          type: array
          description: List of autocomplete suggestions
          items:
            $ref: "#/components/schemas/Suggestion"

    Suggestion:
      type: object
      description: A single autocomplete suggestion
      properties:
        placePrediction:
          $ref: "#/components/schemas/PlacePrediction"
        queryPrediction:
          $ref: "#/components/schemas/QueryPrediction"

    PlacePrediction:
      type: object
      description: A place prediction
      properties:
        place:
          type: string
          description: >-
            The resource name of the suggested place in the format
            places/{placeId}
        placeId:
          type: string
          description: The place ID of the suggested place
        text:
          $ref: "#/components/schemas/FormattableText"
        structuredFormat:
          $ref: "#/components/schemas/StructuredFormat"
        types:
          type: array
          description: List of types that apply to this place
          items:
            type: string
        distanceMeters:
          type: integer
          description: The distance in meters from the origin

    QueryPrediction:
      type: object
      description: A query prediction
      properties:
        text:
          $ref: "#/components/schemas/FormattableText"
        structuredFormat:
          $ref: "#/components/schemas/StructuredFormat"

    FormattableText:
      type: object
      description: Text with structured formatting information
      properties:
        text:
          type: string
          description: The full text string
        matches:
          type: array
          description: >-
            List of string ranges identifying where the input request
            matched in the text
          items:
            type: object
            properties:
              startOffset:
                type: integer
              endOffset:
                type: integer

    StructuredFormat:
      type: object
      description: Contains the main text and secondary text of a prediction
      properties:
        mainText:
          $ref: "#/components/schemas/FormattableText"
        secondaryText:
          $ref: "#/components/schemas/FormattableText"

    SearchPlacesResponse:
      type: object
      description: Response from text search and nearby search
      properties:
        places:
          type: array
          description: List of places matching the search criteria
          items:
            $ref: "#/components/schemas/Place"
        nextPageToken:
          type: string
          description: >-
            A token that can be sent as pageToken in a subsequent request
            to retrieve the next page of results.

    LocationBias:
      type: object
      description: >-
        The region to bias results to. Results in the specified region are
        ranked higher but results outside the region may still be returned.
      properties:
        circle:
          $ref: "#/components/schemas/Circle"
        rectangle:
          $ref: "#/components/schemas/Rectangle"

    LocationRestriction:
      type: object
      description: >-
        The region to restrict results to. Only results inside the
        restriction are returned.
      properties:
        circle:
          $ref: "#/components/schemas/Circle"
        rectangle:
          $ref: "#/components/schemas/Rectangle"

    Circle:
      type: object
      description: A circle defined by center point and radius
      properties:
        center:
          $ref: "#/components/schemas/LatLng"
        radius:
          type: number
          format: double
          description: The radius of the circle in meters
          example: 500.0
      required:
        - center
        - radius

    Rectangle:
      type: object
      description: A rectangular area defined by two corners
      properties:
        low:
          $ref: "#/components/schemas/LatLng"
        high:
          $ref: "#/components/schemas/LatLng"
      required:
        - low
        - high

    LocalizedText:
      type: object
      description: A localized text string
      properties:
        text:
          type: string
          description: The localized text value
        languageCode:
          type: string
          description: BCP-47 language code of the text
      required:
        - text

    LatLng:
      type: object
      description: A latitude/longitude coordinate pair
      properties:
        latitude:
          type: number
          format: double
          description: Latitude in decimal degrees
          example: -33.8688
        longitude:
          type: number
          format: double
          description: Longitude in decimal degrees
          example: 151.2093
      required:
        - latitude
        - longitude

    Viewport:
      type: object
      description: A rectangular viewport defined by two diagonally opposite points
      properties:
        low:
          $ref: "#/components/schemas/LatLng"
        high:
          $ref: "#/components/schemas/LatLng"
      required:
        - low
        - high

    PlusCode:
      type: object
      description: A plus code (Open Location Code)
      properties:
        globalCode:
          type: string
          description: The full plus code (global code)
          example: "4RRH57G3+6R"
        compoundCode:
          type: string
          description: >-
            The compound plus code with locality reference
          example: "57G3+6R Pyrmont, New South Wales, Australia"

    PlaceAddressComponent:
      type: object
      description: An address component of a place
      properties:
        longText:
          type: string
          description: The full text of the address component
        shortText:
          type: string
          description: An abbreviated text for the address component
        types:
          type: array
          description: The types of this address component
          items:
            type: string
        languageCode:
          type: string
          description: The language code for this component

    OpeningHours:
      type: object
      description: Information about the opening hours of a place
      properties:
        openNow:
          type: boolean
          description: Whether the place is currently open
        periods:
          type: array
          description: >-
            The periods that this place is open during the week.
            Periods covering a full day have an open event with day 0
            and time 0000, and no close event.
          items:
            $ref: "#/components/schemas/Period"
        weekdayDescriptions:
          type: array
          description: >-
            Localized strings describing the opening hours for each
            day of the week
          items:
            type: string
          example:
            - "Monday: 9:00 AM - 5:00 PM"
            - "Tuesday: 9:00 AM - 5:00 PM"

    Period:
      type: object
      description: A period the place is open during the week
      properties:
        open:
          $ref: "#/components/schemas/Point"
        close:
          $ref: "#/components/schemas/Point"
      required:
        - open

    Point:
      type: object
      description: A point in time on a weekly schedule
      properties:
        day:
          type: integer
          description: Day of the week (0=Sunday, 6=Saturday)
          minimum: 0
          maximum: 6
        hour:
          type: integer
          description: Hour in 24-hour format (0-23)
          minimum: 0
          maximum: 23
        minute:
          type: integer
          description: Minute (0-59)
          minimum: 0
          maximum: 59
        date:
          type: object
          description: A specific date for current opening hours
          properties:
            year:
              type: integer
            month:
              type: integer
            day:
              type: integer
      required:
        - day
        - hour
        - minute

    Review:
      type: object
      description: A review of a place submitted by a user
      properties:
        name:
          type: string
          description: The resource name of the review
        relativePublishTimeDescription:
          type: string
          description: A human-readable relative time description
          example: "a month ago"
        rating:
          type: number
          format: double
          description: The star rating of this review (1.0-5.0)
          minimum: 1.0
          maximum: 5.0
        text:
          $ref: "#/components/schemas/LocalizedText"
        originalText:
          $ref: "#/components/schemas/LocalizedText"
        authorAttribution:
          $ref: "#/components/schemas/AuthorAttribution"
        publishTime:
          type: string
          format: date-time
          description: Timestamp of when the review was published

    AuthorAttribution:
      type: object
      description: Information about the author of a review
      properties:
        displayName:
          type: string
          description: Name of the review author
        uri:
          type: string
          format: uri
          description: URI of the author's profile
        photoUri:
          type: string
          format: uri
          description: URI of the author's profile photo

    Photo:
      type: object
      description: A photo associated with a place
      properties:
        name:
          type: string
          description: >-
            The resource name of the photo in the format
            places/{placeId}/photos/{photoReference}
        widthPx:
          type: integer
          description: Maximum available width in pixels
        heightPx:
          type: integer
          description: Maximum available height in pixels
        authorAttributions:
          type: array
          description: The authors of this photo
          items:
            $ref: "#/components/schemas/AuthorAttribution"

    PhotoMedia:
      type: object
      description: Photo media metadata returned when skipHttpRedirect is true
      properties:
        name:
          type: string
          description: The resource name of the photo media
        photoUri:
          type: string
          format: uri
          description: A short-lived URI for the photo

    AccessibilityOptions:
      type: object
      description: Accessibility features of a place
      properties:
        wheelchairAccessibleParking:
          type: boolean
        wheelchairAccessibleEntrance:
          type: boolean
        wheelchairAccessibleRestroom:
          type: boolean
        wheelchairAccessibleSeating:
          type: boolean

    ParkingOptions:
      type: object
      description: Parking options at a place
      properties:
        freeParkingLot:
          type: boolean
        paidParkingLot:
          type: boolean
        freeStreetParking:
          type: boolean
        paidStreetParking:
          type: boolean
        valetParking:
          type: boolean
        freeGarageParking:
          type: boolean
        paidGarageParking:
          type: boolean

    PaymentOptions:
      type: object
      description: Payment options accepted by a place
      properties:
        acceptsCreditCards:
          type: boolean
        acceptsDebitCards:
          type: boolean
        acceptsCashOnly:
          type: boolean
        acceptsNfc:
          type: boolean
